@charset "utf-8";

$section-padding: 2rem 1rem;


$dropdown-content-background-color: hsl(0, 0%, 48%);
$dropdown-item-color: hsl(0, 0%, 86%);
$dropdown-item-hover-background-color: hsl(0, 0%, 40%);
$dropdown-item-hover-color: hsl(0, 0%, 86%);
$dropdown-content-arrow: hsl(0, 0%, 29%);
$dropdown-item-active-background-color: hsl(0, 0%, 29%);

@import "~bulma/bulma.sass";


.site-header,
.site-header-container {
  color: #fff;
  background-color: #101012;
}
.site-header {
  height: 333px;
  padding-top: 0;
  padding-bottom: 0;
}
.site-header-container {
  height: 333px;
  padding-top: 20px;
  background: #101012 url('../images/index-cover.jpg') center center;
  background-size: cover;
}
.site-nav-brand img {
  width: 144px;
  height: 32px;
  @include mobile {
    width: 108px;
    height: 24px;
  }
}

.title {
  @include mobile {
    font-size: 1.5rem;
    text-align: center;
  }
}

.our-products-container {
  margin-bottom: 4rem;
}

.brand-name {
  text-transform: uppercase;
}
.brand-name-mobile,
.brand-name-desktop-reverse {
  display: none;
  @include mobile {
    display: block;
  }
}
.brand-name-desktop,
.brand-name-mobile-reverse {
  @include mobile {
    display: none;
  }
}
.product-cover-container {
  text-align: center;
}
.product-detail-container {
  @include mobile {
    font-size: 0.875rem;
  }
}
.product-detail-container table,
.product-detail-container .gallery-container {
  @include mobile {
    margin-left: auto;
    margin-right: auto;
  }
}
.gallery-container img {
  height: 108px;
}

.product-section-nonfirst {
  margin-top: 4rem;
}
.product-section-even {
  @include mobile {
    flex-direction: column-reverse;
    display: flex;
  }
}